*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Gilroy';
    color: white;
    @import url('https://fonts.cdnfonts.com/css/gilroy-bold');
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 4vw 4vw;
    gap:20px;
    justify-content: center;
    z-index: 100;

}
.navLinks{
     margin: 0px 70px;
     display: flex;
     justify-content: space-between;
     gap: 2vw;
}
.navLinks h4{
    font-size: 1rem;
    font-weight: 500;
    

}
.navLinks h4:hover{
    transition: all .3s cubic-bezier(0.21, 0.95, 0.29, 1);
    color: rgb(133, 133, 133);
    cursor: pointer;
}
nav button{
    padding: 5px 10px;
    background-color: orange;
    border: none;
    border-radius: 20px;
}
.nav-bottom{
    height: 0px;
    width:95%;
    position: absolute;
    bottom: 0px;
    border-bottom: rgb(129, 129, 129) 1px solid;
    transition: all 1s cubic-bezier(0.21, 0.95, 0.29, 1);
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:0 24rem;
    background-color: #111;
    z-index: -199;
}
.nav-bottom .csDiv:first-child{
  margin-left: 30px;   
}

.csDiv h5 span{
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0;
}
.csDiv h5 span:hover{
    transition: all .2s ease-out;
color: rgb(133, 133, 133);
cursor: pointer;
}
.csDiv h5 {
margin-bottom: 0.2rem;
overflow: hidden;
}

nav:hover .nav-bottom{
    height: 100%;
    bottom: -100%;
}
nav:hover .csDiv h5 span{
    opacity: 1; 
    transform: translateY(20px);
    transition: all 2s cubic-bezier(0.21, 0.95, 0.29, 1); 
    transition-delay: .2s;
    transform: translateY(0);  

}


.main{
    height: 100%;
    width: 100%;
}

.page1{
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 8vw;
    letter-spacing: -0.2rem;
}
.devtag{
    margin-top: 10px;
display: flex;
gap:.5px;
font-size: 1.3rem;
}
.page1 p svg{
    
     width:"2em" ;height:"2em";
     border-radius: 50%;
     background-color: rgb(255, 140, 0);
}
#bio{
    text-align: center;
    margin-top: 2.4vh;
    font-weight: 300;
    font-size: 1.3rem;
    color: antiquewhite;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h4{
    margin-top: 2.2vh;
    font-weight: 400;
    font-size: 1vw;
    padding: 5px 10px;
    border-radius: 40px;
    border: white 1px solid;
    margin-left: 10px;
}

