*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Gilroy';
    color: white;
    @import url('https://fonts.cdnfonts.com/css/gilroy-bold');
}

.main{

    height: 100%;
    width: 100%;
}

.page1{
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 8vw;
}
.page p{
    display: inline-block;
    gap:2px
}
.page1 p svg{
    
     width:"2em" ;height:"2em";
     border-radius: 50%;
     background-color: rgb(255, 140, 0);
}