*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Gilroy';
    color: white;
    @import url('https://fonts.cdnfonts.com/css/gilroy-bold');
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 2vw 4vw;
    gap:20px;
    justify-content: center;
    z-index: 100;
    background-color: #111;

}
.navLinks{
     margin: 0px 70px;
     display: flex;
     justify-content: space-between;
     gap: 2vw;

}
.navLinks h4 span{
    font-size: 1rem;
    font-weight: 500;
}
.navLinks h4:hover{
    transition: all .3s cubic-bezier(0.21, 0.95, 0.29, 1);
    color: rgb(133, 133, 133);
    cursor: pointer;
}
nav button{
    
  display: flex;
  background-color: #1d2129;
  border-radius: 40px;
  justify-content:space-between;
  align-items: center;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  gap: 10px;
}
.icon-Container {
  width: 40px;
  height: 40px;
  background-color: #f59aff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #1d2129;
}
.text {
  width: calc(170px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}
.icon-Container svg {
  transition-duration: 1.5s;
}
.icon-Container svg:hover {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
.nav-bottom{
    height: 0px;
    width:95%;
    position: absolute;
    bottom: 0px;
    border-bottom: rgb(68, 68, 68) .51px solid;
    transition: all 1s cubic-bezier(0.21, 0.95, 0.29, 1);
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:0 24rem;
    background-color: #111;
    z-index: -199;
}
.nav-bottom .csDiv:last-child{
  margin-right: 30px;   
}

.csDiv h5 span{
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0;
}
.csDiv h5 span:hover{
    transition: all .2s ease-in;
color: rgb(133, 133, 133);
cursor: pointer;
}
.csDiv h5 {
margin-bottom: 0.2rem;
overflow: hidden;
}

nav:hover .nav-bottom{
    height: 100%;
    bottom: -100%;
    margin: 2rem;
}
nav:hover .csDiv h5 span{
    opacity: 1; 
    transform: translateY(20px);
    transition: all .2s cubic-bezier(0.21, 0.95, 0.29, 1); 
    transition-delay: .2s;
    transform: translateY(0);  

}


.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page1{
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 8vw;
    letter-spacing: -0.2rem;
}
.devtag{
    margin-top: 10px;
display: flex;
gap:.5px;
font-size: 1.3rem;
}
.hero, .page1, body {
  position: relative;
}

.page1 p svg{
    
     width:"2em" ;height:"2em";
     border-radius: 50%;
     background-color: rgb(255, 140, 0);
}
#bio{
    text-align: center;
    margin-top: 2.4vh;
    font-weight: 300;
    font-size: 1.3rem;
    color: antiquewhite;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h4{
    margin-top: 2.2vh;
    font-weight: 400;
    font-size: 1vw;
    padding: 5px 10px;
    border-radius: 40px;
    border: white 1px solid;
    margin-left: 10px;
}

/* Infinite Div */

.moving-div{
   position: absolute;
   bottom: 5%;
   width: 40%;
   white-space: nowrap;
   padding: 1rem;
   overflow: hidden;
   z-index: 2;

}
.moving_img{
    display: inline-block;
    animation-name: movingImages ;
    animation-timing-function:linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.moving_img img {
    height: 40px;
    width: auto;
    margin: 0 .8rem;
}
@keyframes movingImages {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.fade-left{
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 10;
    left:0px;
    top:0;
    background: linear-gradient(to right ,#111, transparent);
}
.fade-right{
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 10;
    right:0px;
    top:0;
    background: linear-gradient(to right,transparent ,#111);
}

/* Page 2 */

.page2{
    border-top: rgb(68, 68, 68) .31px solid;
 height: 100vh;
 width: 100%;
 background-color: #111;
 position: relative;
 display: flex;
 justify-content: space-between;
 padding: 0vh 11vh;
 padding-bottom: 5vw;
}

.left_Part, .right_Part{
    height: 100%;
    width: 40%;
    background-color: #36383b;
    display: flex;
    align-self: flex-start;
    justify-content:space-between;
    flex-direction: column;
    padding: 2vh;
}
.right_Part{
   width: 50%; 
}