*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Gilroy';
    color: white;
    @import url('https://fonts.cdnfonts.com/css/gilroy-bold');
}
nav{
    position: fixed;
    
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 4vw 4vw;
   
    justify-content: center;
}
.navLinks{
 display: flex;
     gap: 2vw;
}
.navLinks h4{
    font-size: 1.2rem;
    font-weight: 500;

}
nav button{
    padding: 5px 10px;
    background-color: orange;
    border: none;
    border-radius: 20px;
}
.nav-bottom{
    width: 90%;

    position: absolute;
    bottom: 0px;
    border-bottom: rgb(129, 129, 129) 1px solid;
    transition: all 1s cubic-bezier(0.21, 0.95, 0.29, 1);
    display: flex;
    justify-content: space-between;
    padding: 0 210px;
    align-items: flex-start;
}
nav:hover .nav-bottom{
    height: 100%;
    bottom: -100%;
    
}
.main{

    height: 100%;
    width: 100%;
}

.page1{
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 8vw;
}
.devtag{
display: flex;
gap:.5px
}
.page1 p svg{
    
     width:"2em" ;height:"2em";
     border-radius: 50%;
     background-color: rgb(255, 140, 0);
}
#bio{
    text-align: center;
    margin-top: 2.4vh;
    font-weight: 300;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h4{
    margin-top: 2.2vh;
    font-weight: 400;
    font-size: 2vw;
    padding: 5px 10px;
    border-radius: 40px;
    border: white 1px solid;
    margin-left: 10px;
}

